td {
	background:gray;
	height:29px;
	width:29px;
	border:solid black 1px;
}


table {
	border-collapse:collapse;
}

#interface {
	width:800px;
max-width:800px;
min-width:800px;
margin: 0 auto;
margin-left: 28%;
}

#field {
	width: 60%;
	margin: 2.5%;
}

#score {
	width: 30%;
	margin: 2.5%;
}

#scoreFont {
	font-size: 150%;
	line-height:100%;
	font-weight:600;
}

.box {
margin: 20px;
float: left;
}
